@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
	--size-14: 0.875rem;
	--size-12: 0.75rem;
	--size-10: 0.625rem;
	--size-4: 0.25rem;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 17px;
}

body {
	background: #F6F7F8;
	color: #2C2C2C;
}

a {
	text-decoration: none;
	color: #2C2C2C;
}

h2 {
	font-size: 1.5rem;
	line-height: 29px;
	font-weight: 700;
}

h3 {
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1.5rem;
}


ul {
	list-style: none;
}


.container {
	margin: 0 auto;
	max-width: 1200px;
}


/* asosiy */
.bold {
	font-weight: bold;
}

.opacity-half {
	opacity: 0.5;
}

.relative {
	position: relative;
}

.padding-32 {
	padding: 2rem;
}

.padding-10 {
	padding: var(--size-10);
}

.padding-16 {
	padding: 1rem;
}

.white-box {
	background: white;
	padding: 1rem;
	box-shadow: 0 4px 54px rgba(0, 27, 98, 0.03);
	border-radius: var(--size-12);
}


.flex {
	display: flex;
	width: 100%;
}

.column {
	flex: 1;
	overflow: hidden;
}

.column-half {
	flex: 0 0 auto;
	width: 50%;
}

.column-third {
	flex: 0 0 auto;
	width: 33.33%;
}

.flex-auto-width {
	flex: 0 0 auto;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.has-flex-img img {
	max-width: 100%;
	max-height: 100%;
}

/*nav*/

nav {
	height: 90px;
	background: white;
}

nav > .menu > a {
	padding: 35px 10px;
	font-size: 1rem;
	line-height: 1.25rem;
}

nav > .menu > a:hover {
	color: #8FD8AC;
	border-bottom: 3px solid #8FD8AC;
}

.raketa {
	padding: 12px 28px 13px !important;
	border: 1px solid #7B83CE;
	border-radius: 40px;
	height: 39px;
}

.logotip {
	margin-left: 2rem;
}

.menu-right {
	margin-right: 2rem;
}

.menu-right a {
	padding-left: 0.9rem;
	padding-right: 0.9rem;
}

.menu-right i {
	font-size: 1.5rem;
}

.raqam {
	position: absolute;
	background: #FF9F9F;
	border-radius: 47px;
	color: white;
	padding: 2px 4px;
	font-size: var(--size-10);
	top: -10px;
	right: 5px;
}

/*main*/

main {
	padding: 12px 32px;
}

.right-knopka {
	padding: var(--size-10);
	background: white;
	border-radius: 10px;
}

.header {
	margin-bottom: 20px;
	margin-top: 20px;
}

/*box*/
.box {
	background: #FAFBFD;
	border-radius: 8px;
	margin-bottom: 20px;
}

.srochno {
	position: absolute;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.03);
	border-radius: 36px;
	padding: 4px 8px;
	color: #2C2C2C;
	top: -12px;
	left: 1.5rem;
}

.box .column, .bottom-block {
	overflow: hidden;
}

.box-right {
	display: flex;
	flex-direction: column;
}

.box-right a {
	padding: 8px;
	font-size: 1rem;
}

.qirqilgan {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
}

.box .center-block {
	margin-top: 25px;
	margin-bottom: 25px;
}

.box .center-block span {
	margin-right: 20px;
}

.margin-right-16 {
	margin-right: 1rem;
}

.box .column {
	padding: 20px;
}

.bg-green {
	background: #8FD8AC;
	color: white;
}

.bg-green a {
	color: white;
}

.text-green {
	color: #8FD8AC;
}

.left-border {
	border-left: 1px solid white;
}

/* chap tomon 1-blok, vstrechi*/
.white-left-vstrechi {
	background: white;
	border-radius: 12px;
}

.white-left-vstrechi > .column {
	padding: 20px;
	overflow: hidden;
}

.white-left-vstrechi p {
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
}

.white-left-vstrechi h3 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.tabiy-border {
	border-right: 2px solid #F6F7F8;
}